@import url("https://use.typekit.net/rom2sia.css");

body {
	font-family: canada-type-gibson, sans-serif !important;
}
#banner-logo {
	height: 87px;
	flex-grow: 1;
	text-align: center;
	position: fixed;
	margin-left: auto;
	margin-right: auto;
	left: 20%;
	right: 20%;
	top:19px;
	z-index: 100000;
	@media (min-width: $screen-tablet) {
		top: 0px;
		width: 280px;
		background-color: #192235;
		position: absolute;
	}
	@media (min-width: 900px) {
		width: 320px;
	}
	img {
		margin: auto;
		position: relative;
		&.mobile-banner-logo {
			display: block;
			width: 166px;
			top: 40px;
			@media (min-width: $screen-tablet) {
				display: none;
			}
		}
		&.desktop-banner-logo {
			display: none;
			top: 30px;
			@media (min-width: $screen-tablet) {
				display: block;
			}
		}
	}
}
#banner {
	height: 460px;
	@media (min-width: $screen-tablet) {
		height: 677px;
	}
	background: url(../images/topo-lines.jpg) ;
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
		background: url(../images/topo-lines@2x.jpg);
		background-size: 200%;
	}
	// &:before {
 //    content: '';
	// 	position: absolute;
	// 	top: 0;
	// 	right: 0;
	// 	bottom: 0;
	// 	left: 0;
	// 	background-image: linear-gradient(340.62deg, $ltblue 0%, rgba(0,162,250,0) 100%);
	// 	opacity: .6; 
 //  }
	#navigation {
		height: 99px;
		background: $white;
		@media (min-width: 768px) {
			background: none;
		}
/* Mobile hamburger menu button */
		.hamburger {
			z-index: 100001;
		  padding: 40px;
		  display: inline-block;
		  @media (min-width: $screen-tablet) {
		  	display: none;
		  }
		  cursor: pointer;
		  border: 0;
		  margin: 0;
		  overflow: visible; 
		  position: absolute;
		  top: 25px;
		  background: url(../images/hammy.svg) no-repeat 50% 50%;
		  transition: background .25s;
		  &.is-active {
		  	background: url(../images/close.svg) no-repeat 50% 50%;
		  	transition: all .25s;
		  }
		}
		ul.menu {
			height: 99px;
			background-color: rgba(0,0,0,0);
			@media (min-width: 768px) {
				background-color: rgba(255,255,255,1); 
			}
			transition: all .5s;
			margin-top: 0;
			overflow: hidden;
			display: -webkit-box;
			display: -moz-box;
			display: -ms-flexbox;
			display: -moz-flex;
			display: -webkit-flex;
			display: flex;
			flex-flow: column;
			@media (min-width: $screen-tablet) {
				height: 87px;	
				background: none;	
				flex-flow: initial;
				padding-left: initial;
			}
			.sign-up {
				position: absolute;
				right: 3%;
				a {
					@media (max-width: ($screen-tablet - 1)) {
						top: 45px;
					}
				}
				@media (min-width: $screen-tablet) {
					top: 0;

				}
			}
			.footer-text {
				display: none;
			}
			.footer-img-wrap {
						display: none;
			}
		&.expanded {
			@media (max-width: $screen-tablet - 1) {
				height: 100vh;
				background-color: rgba(255,255,255,1);
				transition: all .5s;
				li {
					opacity: 1 !important;
					transition: opacity .5s;
				}
				.footer-text {
					display: block;
					opacity: 1 !important;
					transition: opacity .5s;
			    font-size: 14px;
			    font-family: alda, serif;
			    margin: 70px 8% 0px 8%;
			    text-align: center;
				}
			}
		}
			li {
				@media (max-width: 767px) {
					flex-grow: 0;
					height: 67px;
					a {
							color: $ltblue;
							border-bottom: 2px solid $ltblue;
							font-size: 14px;
						}
					}
				height: 87px;
				flex-grow: 1;
				text-align: center;
				@media (min-width: $screen-desktop) {
					flex-grow: 0;
				}
				list-style: none;
				a {
					position: relative;
					top: 32px;
					display: inline;
					z-index: 100000;
				}
				&.underline-menu-link {
					a {
						@media (min-width: $screen-tablet) {
							color: $white;
							font-size: 16px;
							font-weight: bold;
							line-height: 22px;
							border-bottom: 2px solid rgba(255, 255, 255, .35);
						}
						&:hover {
							opacity: .7;
							border-bottom: 2px solid rgba(0, 162, 250, 1);
		          transition: all .25s;
		        }
					}
				}
				&.clear-menu-link {
					a {
						@media (min-width: $screen-tablet) {
							border: 2px solid $white;
							border-radius: 4px;
							margin: 0;
		    			font-size: 14px;
		    			font-weight: bold;
		    			color: $white;	
		    			line-height: 32px;
		    			padding: 13px 24px;
			    		&:hover {
								background: rgba(255,255,255,.5);
								border: 2px solid $ltblue;
								transition: all .25s;
							}
						}
	    			@media (min-width: 900px) {
	    			padding: 13px 38px;			    				
	    			}
					}
				}
				&.white-bg-menu-link {
					a {
						@media (min-width: $screen-tablet) {
							border: 2px solid $white;
							border-radius: 4px;
							margin: 0;
		    			font-size: 14px;
		    			font-weight: bold;
							color: $ltblue;
							background: $white;	
							height: 36px;
							line-height: 32px;
		    			padding: 13px 24px;
		    			&:hover {
								color: $white;
								background: rgba(255,255,255,.5);
								border: 2px solid $ltblue;
								transition: all .25s;
							}
	    			}
	    			@media (min-width: 900px) {
	    			padding: 13px 38px;			    				
	    			}
					}
				}
				&:nth-child(1) {
					margin-top: 99px;
					@media (min-width: $screen-tablet) {
						margin-top: 0px;
					}
				}
				@media (min-width: $screen-tablet) {
					position: absolute;
					width: 15%;
					min-width: 130px;
					&:nth-child(1) {
					}
					&:nth-child(2) {
						left: 15%;
					}
					&:nth-child(3) {
						right: 15%;
					}
					&:nth-child(4) {
						right: 0;
					}
				}
				&:not(.sign-up) {
					opacity: 0;
					transition: opacity .5s;
					@media (min-width: $screen-tablet) {
						opacity: 1;
						transition: opacity .5s;
					}
				}
			}
			#footer {
				opacity: 0;
				transition: opacity .25;
			}
		}
	}
	h1 {
		color: $white;
		text-align: center;
		padding-top: 163px;
		font-weight: 600;
		margin: 0;
	}
	form {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -moz-flex;
		display: -webkit-flex;
		display: flex;
		justify-content: center;
		@media (max-width: 767px) {
			flex-flow: column;
		}

		.select, input[type="submit"] {
			height: 58px;
			border-radius: 4px;
		}
		input[type="submit"] {

			margin-left: 30px;
			width: 84px;
			@media (max-width: 767px) {
	    	width: 90%;
	    	margin: 16px 5% 0px 5%;
    	}
			font-size: 18px;
			font-weight: bold;
			color: $white;
			background-color: $ltblue;
			&:hover {
				background-color: rgba(0,162,250,.5);
				transition: all .25s;
			}
		}
		@media (max-width: 767px) {
			.options li, .styledSelect {
				font-size: 14px;
			}
		}
	}
}
//Banner dropdown
.select {
  cursor:pointer;
  display:inline-block;
  position:relative;
  font-family: alda, serif;
  color:black;
  @media (max-width: 767px) {
  	width: 90%;
  	margin: 0 5%;
  }
  width: 45%;
  line-height: initial;   
  -webkit-appearance: none; 
	-moz-appearance: none;
	appearance: none;
	.s-hidden {
    visibility:hidden;
    padding-right:10px;
	}
	.styledSelect {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color: $white;
    padding:0 10px 0px 8%;
    line-height:58px;
    border-radius: 4px;
    background-image: url(../images/arrows.svg);
    background-position: 95% center;
    background-repeat: no-repeat;
    background-size: 15px;
    &.active{
    	border-radius: 4px 4px 0px 0px;
    }
	}
	.styledSelect:active, .styledSelect.active {
    background-color:#eee;
	}
	.options {
    display:none;
    position:absolute;
    top:100%;
    right:0;
    left:0;
    z-index:999;
    margin:0 0;
    padding:20px 0px;
    list-style:none;
    border:1px solid #ccc;
    background-color: $white;
    -webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
    li {
	    padding: 8px 0px 0px 30px;
	    height: 49px;
	    &:first-child {
	    	display:none;
	    }
	    &:hover {
				background-color: rgba(0,162,250,0.15);	    	
	    }
    }
	}
}

//Main content

#main {
	display:flex;
	justify-content: space-between;
  flex-wrap: wrap;
	h2 {
		color: $ltblue;
		text-align: center;
		font-weight: 600;
		font-size: 32px;
		@media (min-width: $screen-tablet) {
			font-size: 44px;
		}
		margin-top: 105px;
	}
	h3 {
		color: $ltblue;
		font-size: 36px;
		font-weight: 600;
		letter-spacing: -0.25px;
		line-height: 40px;
		margin-bottom: 25px;
	}
	p {
		font-family: alda, serif;
	}
	a {
		font-size: 18px;
		font-weight: 600;
		line-height: 21px;
		color: $ltblue;
		border-bottom: 4px solid;
    padding-bottom: 10px;
	}
	.fade {
		opacity: 0;
	}
	.section {
		position: relative;
		&::after {
			position: absolute;
			z-index: -1;
			content: "";
		}
	}
	.main-section {
		p {
			width: 60%;
			text-align: center;
			font-size: 14px;
			@media (min-width: $screen-tablet) {
				font-size: 24px;
				line-height: 36px;
			}
			letter-spacing: -0.1px;
			margin: auto;
			margin-bottom: 100px;
		}
		h2 {
			width: 60%;
			margin-left: auto;
			margin-right: auto;
		}
		&::after {
	    background-image: url('../images/plus-three-5@2x.png');
	    background-size: 175px 175px;
	    display: inline-block;
	    width: 175px; 
	    height: 175px;
	    top: 80%;
    	left: 70%;
  	}
	}
	.split-text p, .sub-section p {
		color: #4A4A4A;
		font-size: 16px;
		letter-spacing: -0.05px;
		line-height: 24px;
		margin-bottom: 40px;
	}
	.split-text-left {
		order: 1;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -moz-flex;
		display: -webkit-flex;
		display: flex;
		&:after {
	    background-image: url('../images/plus-one-5@2x.png');
	    background-size: 175px 175px;
	    width: 175px; 
	    height: 175px;
	    top: 60%;
    	right: 70%;	
		}
	}
	.split-text-right {
		order: 2;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -moz-flex;
		display: -webkit-flex;
		display: flex;
		&:after {
	    background-image: url('../images/plus-two-5@2x.png');
	    background-size: 175px 175px;
	    width: 175px; 
	    height: 175px;
	    top: 80%;
    	left: 60%;	
		}
	}
	.sub-section {
		order: 3;
		flex-grow:0;
		width: 100%;
		// &:after {
	 //    background-image: url('../images/plus-three-5@2x.png');
	 //    background-size: 175px 175px;
	 //    width: 175px; 
	 //    height: 175px;
	 //    top: 50%;
  //   	left: calc(50% - 87.5px);	
		// }
	}
	#contact-us {
		order: 4;
		flex-grow: 0;
		width: 100%;
		p {
			font-family: canada-type-gibson, sans-serif;
		}
	}
	@media (max-width: 767px) {
		.split-text {
			margin-bottom: 48px;
			text-align: center;
			padding: 0 5%;
			h3 {
				font-size: 24px;
			}
			p {
				font-size: 14px;
			}
			a {
				font-size: 14px;
			}
		}
		.split-text-left, .split-text-right {
			flex-flow: column;
		}
		.split-text-left .split-text {
			order: 2;
		}
		.split-text-left .split-image {
			order: 1;
		}
		.split-text-right .split-text {
			order: 2;
		 }
		.split-text-right .split-image {
			order: 1;
		}
		.split img {
			width: 100%; 
			&.desktop-image {
				display: none;
			}
			&.mobile-image {
				display: block;
			}
		}
	}
	@media (min-width: $screen-tablet) {
		.split-text-left .split-text {
			order:1;
			text-align: right;
			padding: 70px 4% 70px 12%;
		}
		.split-text-left .split-image {
			order: 2;
		}
		.split-text {
			width: 45%;
		}
		.split-image {
			width: 55%;
		}
		.split-text-right img {
			float: right;
		}
		.split-text-right .split-image {
			order: 1;
		}
		.split-text-right .split-text {
		 	margin-top: -30px;
		 	padding: 70px 12% 70px 4%;
		 	order: 2;
		}
		.split {
		 	img.desktop-image {
		 		display:block;
		 	}
		 	img.mobile-image {
		 		display: none;
		 	}
		}
	}
	@media (min-width: $screen-desktop) {
		.split-text-right .split-image {
		 	margin-top: -100px;
		}
	}
	@media (min-width: $screen-desktop){
		.split-text {
			min-width: 370px;
		}
	}

	.sub-section {
		text-align: center;
		p, a {
			max-width: 370px;
			margin: auto;
		}
		p {
			margin-bottom: 34px !important;
		}
	}
	#contact-us {
		min-height: 167px;
		background: url(../images/topo-lines.jpg) ;
		@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
			background: url(../images/topo-lines@2x.jpg);
			background-size: 200%;
		}
		margin-top: 15em;
		@media (min-width: $screen-desktop) {
			line-height: 167px;
		}
		h4 {
			color: $white;
			font-size: 18px;
			padding-left: 5%;
			padding-right:5%;
			@media(min-width: $screen-tablet) {
				font-size: 30px;
				padding-left: initial;
				padding-right:initial;
			}
			display: inline-block;
		  vertical-align: middle;
		  line-height: normal;
		  letter-spacing: -0.25px;
		  font-weight: 600;
		  width: 100%;
		  text-align: center;
		  @media (min-width: $screen-desktop) {
		  	width: 75%;
		  	padding-left: 10px;
		  	text-align: right;
			}
		}
		p {
			width: 100%;
			text-align: center;
			@media (min-width: $screen-desktop) {
		  	width: 25%;
		  	display: inline;
		  	text-align: left;
			}
		}
		a {
			margin-left: 0%;
			margin-bottom: 30px;
			@media (min-width: $screen-tablet){
				margin-left: 5%;
				margin-bottom: 0px;
			}
			border: 2px solid $white;
			border-radius: 4px;
			padding: 15px 37px;	
			font-size: 14px;
			color: $ltblue;
			background: $white;
		}
	}
	#footer {
		max-width:785px;
		margin: auto;
		order: 7;
		.footer-img-wrap {
			float:left;
			width: 100%;
			text-align: center;
			@media (min-width: $screen-tablet){
				width: 30%;
				text-align: right;
			}
	    padding: 30px;
	    margin: 0;
		}
		p {
			float: left;
			width: 100%;
			text-align: center;
			@media (min-width: $screen-tablet){
				width: 70%;
				text-align: left;
			}
			padding: 30px;
			margin: 0;
			font-size: 16px;
		}
	}
}