/**
* @file
* Navigation styles.
*
* Define some global navigation styles.
*
*/

#navigation {
  font-family: $sans;
  > ul.menu {
    @include list-reset();
    > li {
      // position: relative;
      > ul.menu {
        position: absolute;
        top: 0;
        left: -9999px;
        z-index: 100;
        padding: 0;
        background-color: $owhite;
        li {
          white-space: nowrap;
          }
      }
      a {
        display: block;
        // padding: 10px 16px;
        font-weight: 600;
        &.active {
          border-bottom: 2px solid $highlight;
        }
        @include hover {
          color: $medgray;
        }
      }
    }
  }

  // Mobile navigation styles.
  @media (max-width: 767px) {
    position: fixed;
    z-index: 99999;
    width: 100%;
    transition: right 300ms;
    .menu-active & {
      right: 0;
      transition: all 500ms ease;
    }
    .menu {
      > li {
        float: none;
        display: block;
        list-style: none;
        text-decoration: none;
        font-size: 20px;
        cursor: pointer;
      }
    }
  }
}
